---
import { type CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
console.log(project.data.image)
---

<article>
  <a href={`/blog/${project.slug}`}>
    <div id="project">
      <Picture
        src={project.data.image}
        alt={project.data.title}
        width={280}
        formats={['avif', 'webp']}
        id="image"
      />
      <h2>{project.data.title}</h2>
      <p>
        {project.data.description}
      </p>
    </div>
  </a>
</article>

<style>
  a {
    text-decoration: none;
  }

  #project {
    height: 200px;
    background-color: #272626;
    border-radius: 15px;
  }

  h2,
  p {
    margin-left: 20px;
    color: white;
    font-family: "Kodchasan", serif;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-size: 28px;
  }

  p {
    text-decoration: none;
    font-size: 14px;
  }

  #image {
    object-fit: cover;
    border-radius: 15px;
  }
</style>
