---
import { type CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import Tag from "../components/Tag.astro";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
console.log(project.data.title);
---

<article>
  <a>
    <div id="project">
      <a href={`/blog/${project.slug}`}>
        <Picture
          src={project.data.image}
          alt={project.data.title}
          width={280}
          formats={["avif", "webp"]}
          id="image"
        /></a
      >
      <div id="text">
        <a href={`/blog/${project.slug}`}><h2>{project.data.title}</h2></a>
        <Tag stack={project.data.stack} />
        <p>
          {project.data.description}
        </p>
      </div>
    </div>
  </a>
</article>

<style>
  a {
    text-decoration: none;
  }

  #project {
    height: 200px;
    background-color: #272626;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #image {
    object-fit: cover;
    border-radius: 15px;
    margin-left: 20px;
  }

  #text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 15px;
    align-self: center;
  }

  h2,
  p {
    margin: 0;
    color: white;
    font-family: "Kodchasan", serif;
    font-weight: 400;
    font-style: normal;
    width: 80%;
  }

  h2 {
    font-size: 28px;
  }

  p {
    text-decoration: none;
    font-size: 14px;
  }
</style>
